<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Dragon Ball</title>
</head>
<body>
    <header>
        <a href="/"><img src="../static/img/seta.png" alt=""></a>
        <h1>Drangon Ball</h1>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>Feito por Juliano Corrêa Amaro</p>
        <a href="https://web.dragonball-api.com/" target="_blank">DragonBall API</a>
    </footer>
</body>
</html>